.batchesList{
    margin: 5rem 2rem;
}

.batch{
    display: flex;
    justify-content: space-around;
    color: white;
    align-items: center;
    background-color: #343A46;
    border-radius: 15px;
    padding: 0.5rem 1rem;
    margin-bottom: 2rem;
    text-decoration: none;
}