@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*, *::before, *::after {
box-sizing: border-box;
}
* {
 margin: 0;
}
html{
  /* background-color: white; */
}
html, body {
 /* height: 100%; */
 overflow-y: auto;
font-family: 'Open Sans', sans-serif;
--prime-color:#087EA4;
}
body {
 
line-height: 1.5;
-webkit-font-smoothing: antialiased;
max-width: 500px;
margin: 0 auto;

}
img, picture, video, canvas, svg {
display: block;
max-width: 100%;
}
input, button, textarea, select {
font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
overflow-wrap: break-word;
}
.dark{
  color: white;
  background-color: #23272F;
  height: 100vh; 
  overflow-y: scroll;
}

.light{
    color:#23272F ;
    background-color:   white;
    min-height: 100vh;
    overflow-y: scroll;
}

